ul {
  list-style-type: none;
}
body {
  background-color: grey;
}
h1 {
  color: white;
}
li {
  color: white;
}
.main-content {
  text-align: center;
}
img {
  height: inherit;
  width: auto;
  text-align: center;
}
